In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Wildfires by State

In [2]:
df = pd.read_csv('../Data/dashboard/wildfires_by_state_2021.csv')
df

                   state  num_fires  num_acres_burned
0                Alabama       1040             22055
1                 Alaska        384            253357
2                Arizona       1773            524428
3               Arkansas        378             17003
4             California       9260           2233666
5               Colorado       1017             48195
6            Connecticut         60               127
7               Delaware          0                 0
8   District of Columbia          0                 0
9                Florida       2262            105475
10               Georgia       2139             11108
11                Hawaii          1             40000
12                 Idaho       1332            439600
13              Illinois         29               219
14               Indiana         34               836
15                  Iowa        187              7950
16                Kansas         55            163982
17              Kentucky        723             22859
18             Louisiana        507             10303
19                 Maine        636               377
20              Maryland        112              1162
21         Massachusetts        588              1439
22              Michigan        435              9289
23             Minnesota       2065             69405
24           Mississippi        922             21037
25              Missouri       1531             40262
26               Montana       2573            747678
27              Nebraska        785             27294
28                Nevada        565            123427
29         New Hampshire        280                96
30            New Jersey        906              6652
31            New Mexico        672            123792
32              New York        137               550
33        North Carolina       5151             25838
34          North Dakota        946             49347
35                  Ohio        524              1415
36              Oklahoma       1727            113235
37                Oregon       2202            828777
38          Pennsylvania       1350              2892
39           Puerto Rico          0                 0
40          Rhode Island         99               178
41        South Carolina        630              7337
42          South Dakota        868             43620
43             Tennessee        550              4937
44                 Texas       5576            168258
45                  Utah       1085             60863
46               Vermont         90               157
47              Virginia        567              6696
48            Washington       1863            674222
49         West Virginia        752              7504
50             Wisconsin       1040              2159
51               Wyoming        540             53496
52     United States (1)      58948           7124554

In [3]:
# Remove unwanted states/countries
states_to_remove = ['Puerto Rico', 'United States (1)']
df = df[~df['state'].isin(states_to_remove)]

### Top 10 Most Destructive Fires in California

In [27]:
df = pd.read_csv('../Data/dashboard/top_10_deadliest_ca_wf.csv')
df

,rank,fire_name_cause,date,county,acres,structures,deaths
0,1,Camp Fire (Power lines),November 2018,Butte,153336,18804,85
1,2,Tubbs (Electrical),October 2017,Napa and Sonoma,36807,5636,22
2,3,Tunnel - Oakland Hills (Rekindle),October 1991,Alameda,1600,2900,25
3,4,Cedar (Human related),October 2003,San Diego,273246,2820,15
4,5,North Complex (Lightning),August 2020,"Butte, Plumas and Yuba",318935,2352,15
5,6,Valley (Electrical),September 2015,"Lake, Napa and Sonoma",76067,1955,4
6,7,Witch (Power lines),October 2007,San Diego,197990,1650,2
7,8,Woolsey (Electrical),November 2018,Ventura,96949,1643,3
8,9,Carr (Human related),July 2018,Shasta County and Trinity,229651,1614,8
9,10,Glass Fire (Undetermined),September 2020,Napa and Sonoma,67484,1520,0

In [28]:
df.rename(columns={'fire_name_cause': 'fire_name'}, inplace=True)
df

,rank,fire_name,date,county,acres,structures,deaths
0,1,Camp Fire (Power lines),November 2018,Butte,153336,18804,85
1,2,Tubbs (Electrical),October 2017,Napa and Sonoma,36807,5636,22
2,3,Tunnel - Oakland Hills (Rekindle),October 1991,Alameda,1600,2900,25
3,4,Cedar (Human related),October 2003,San Diego,273246,2820,15
4,5,North Complex (Lightning),August 2020,"Butte, Plumas and Yuba",318935,2352,15
5,6,Valley (Electrical),September 2015,"Lake, Napa and Sonoma",76067,1955,4
6,7,Witch (Power lines),October 2007,San Diego,197990,1650,2
7,8,Woolsey (Electrical),November 2018,Ventura,96949,1643,3
8,9,Carr (Human related),July 2018,Shasta County and Trinity,229651,1614,8
9,10,Glass Fire (Undetermined),September 2020,Napa and Sonoma,67484,1520,0

In [29]:
df['fire_name'] = df['fire_name'].str.replace(r"\(.*\)","", regex=True)

In [30]:
df.set_index('rank', inplace=True)
df

,fire_name,date,county,acres,structures,deaths
rank,,,,,,
1,Camp Fire,November 2018,Butte,153336,18804,85
2,Tubbs,October 2017,Napa and Sonoma,36807,5636,22
3,Tunnel - Oakland Hills,October 1991,Alameda,1600,2900,25
4,Cedar,October 2003,San Diego,273246,2820,15
5,North Complex,August 2020,"Butte, Plumas and Yuba",318935,2352,15
6,Valley,September 2015,"Lake, Napa and Sonoma",76067,1955,4
7,Witch,October 2007,San Diego,197990,1650,2
8,Woolsey,November 2018,Ventura,96949,1643,3
9,Carr,July 2018,Shasta County and Trinity,229651,1614,8
10,Glass Fire,September 2020,Napa and Sonoma,67484,1520,0

In [ ]:
state = ['CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA']

df_['state'] = state